* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    height: 500px;
    background-image: url(./assets/header.jpg);
}

.navigation-list {
    display: flex;
    justify-content: center;
    list-style: none;

}

.navigation {
    padding-top: 25px;
}

.navigation-item:hover {
    transform: scale(1.2);
    transition: 1s;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    color: #f7f7f7;
    text-decoration: none;
    font-size: 32px;
    font-family: 'Franklin Gothic Medium';
    text-shadow: rgb(0 0 0) 4px 4px 4px;

}

.nav-link:hover {
    color: rgb(176 176 178);

}

.greeting {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 150px;
    color: #f7f7f7;
    font-size: 32px;
    font-family: 'Franklin Gothic Medium';
    text-shadow: rgb(0 0 0) 6px 6px 5px;

}

.about-me {
    background-color: #303132;
    height: 300px;
    display: flex;
    padding-left: 100px;
    padding-top: 25px;
    gap: 50px;
}

.avatar {
    width: 320px;
    height: 220px;
}

.myFoto {
    border-radius: 25px;
}

.nameSection {
    color: #f7f7f7;
    font-size: 32px;
    font-family: 'Franklin Gothic Medium';
    text-shadow: rgb(0 0 0) 6px 6px 5px;
}





